@using Hiring.Models
@model Informacion_Personal_Empleado

@{ 
    ViewData["Title"] = "Lee";
}



<div class="container">
       <div class="card-container">
    <a data-bs-toggle="modal" data-bs-target="#ModalForm">
        <div class="rectangulo-encabezado" style="background-color: @Model.estilo;"></div>
        <div class="perfil-container">
            <img class="foto-perfil" src="@Model.foto_perfil" alt="Foto de perfil">
            <div class="info-perfil">
                <div class="perfil-header">
                    <h3 class="nombre-apellido">@Model.nombre_apellido</h3>
                    <img class="mini-foto" src="../img/logos/HirINg-app.gif" alt="Mini Foto">
                    <i id="edit-icono" class="fa-solid fa-pen"></i>
                </div>
                <div class="profesion-container">
                    <i class="fas fa-briefcase profesion-icon"></i>
                    <p class="profesion" style="color: rgb(59, 59, 59) !important;">@Model.profesion_actual</p>
                </div>
            </div>
        </div>
        <hr style="color: @Model.estilo; margin-top: -35px; opacity: .5;">
        <div class="contact-info">
            <h5 class="telefono" style="background-color:@Model.estilo;">
                <i class="fa-solid fa-phone"></i> @Model.telefono
            </h5>
            <h5 class="mail" style="background-color:@Model.estilo;">
                <i class="fa-solid fa-envelope"></i> @Model.mail
            </h5>
            <h5 class="ubicacion" style="background-color:@Model.estilo;">
                <i class="fa-solid fa-location-dot"></i> @Model.ubicacion
            </h5>
        </div>
            <div class="acerca_de_mi_container">
            <i  class="fa-solid fa-address-card"></i>
            <div class="acerca-de-mi"> 
            @Model.acerca_de_mi</div></div>  </a>
             <div class="upload-container" id="fileList">
            <img class="img_upload_archivos" src="../img/componente/subir_archivo.png" alt="Subir Archivos" class="upload-image" onclick="document.getElementById('fileInput').click()">
            <input type="file" id="fileInput" multiple style="display: none;" accept=".png, .jpg, .jpeg, .pdf, .txt, .mp3, .mp4" onchange="handleFiles(this.files)">
            </div>
        
            <div id="listaEducacionContainer">
            @if (ViewBag.Lista_educacion != null && ((List<Educacion>)ViewBag.Lista_educacion).Any())
            {
                foreach (var item in (List<Educacion>)ViewBag.Lista_educacion)
                {
                    <div class="educacion1_container" data-id="@item.id">
                        <div class="header_educacion">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <div class="titulo_educacion">@item.titulo - @item.nombre_institucion</div> 
                            <i class="fa-solid fa-edit editar-icono" data-id="@item.id"></i>
                            <i class="fa-solid fa-trash eliminar-icono" data-id="@item.id"></i>
                        </div>
                        <div class="fecha_educacion">( @item.fecha_expedicion - @item.fecha_caducidad )</div>
                        <div class="descripcion_educacion">@item.descripcion</div>
                        <div class="detalles_educacion">
                            <div><i class="fa-solid fa-user-graduate"></i> <strong>Disciplina:</strong> @item.disciplina_academica</div>
                            <div><i class="fa-solid fa-users"></i> <strong>Actividades de Grupo:</strong> @item.actividades_grupo</div>
                        </div>
                        <div class="iconos_educacion">
                            <a data-bs-toggle="modal" data-bs-target="#ModalEducacion">
                                <i class="fa-solid fa-circle-plus mas-icono" style="color: @Model.estilo"></i>
                            </a>
                        </div>
                    </div>
                }
            }
                    else
                    {
                        <div class="educacion-container">
                        <div class="icon-container">
                            <i class="fa-solid fa-graduation-cap icon-educacion"></i>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#ModalEducacion">
                            <img class="img_educacion" src="../img/componente/educacion.png" alt="Educación">
                        </a>
                        </div>
                    }

        <!--NECESIDADES DE ADAPTACIÓN -->
        <div id="AdaptacionContainer">
            @if (ViewBag.Adaptacion != null)
            {
                    <div class="adaptacion1_container" data-id="@ViewBag.Adaptacion.id">
                        <div class="header_adaptacion">
                            <img src="../img/componente/icono.png" alt="icono" class="icono-adaptacion-img">
                            <div class="titulo_adaptacion">NECESIDADES DE ADAPTACIÓN 
                            <div class="descripcion_adaptacion">@ViewBag.Adaptacion.nombre</div></div>
                            <i class="fa-solid fa-edit editar-icono-adaptacion" data-id="@ViewBag.Adaptacion.id"></i>
                            <i class="fa-solid fa-trash eliminar-icono-adaptacion" data-id="@ViewBag.Adaptacion.id"></i>
                        </div>
                    </div>
                
            }
                    else
                    {
                        <div class="adaptacion-container">
                        <div class="icon-container">
                            <i class="fa-solid fa-person-walking-with-cane icon-educacion"></i>
                            <i class="fa-solid fa-wheelchair icon-educacion" style="margin-left: 10px;"></i>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#ModalAdaptacion">
                                <img class="img_adaptacion" src="../img/componente/adaptacion.jpg" alt="Adaptación">
                            </a>
                    </div>

                    }</div>
                    
        </div>

        <!-- CAROUSEL MULTIMEDIA*/ -->

    @if (ViewBag.UrlMultimedia != null)
{
    <div class="container carousel-container">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-fotos" data-bs-ride="carousel">
            <div class="carousel-inner" style="text-align: center; width: 100%;" id="carousel-inner">
                @{
                    bool Activo = true;
                    @foreach (string item in ViewBag.UrlMultimedia)
                    {
                        <div class='carousel-item @(Activo ? "active" : "")'>
                            <div class="row">
                                <div class="col-md-12 position-relative">
                                    @if (item.EndsWith(".jpg") || item.EndsWith(".jpeg") || item.EndsWith(".png"))
                                    {
                                        <img src="@item" class="d-block w-100">
                                    }
                                    else if (item.EndsWith(".mp4"))
                                    {
                                        <video controls class="d-block w-100">
                                            <source src="@item" type="video/mp4">
                                        </video>
                                    }
                                    else
                                    {
                                        <div class="download-button-container">
                                            <a href="@item" download class="btn btn-primary download-button">Descargar archivo</a>
                                        </div>
                                    }
                                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0" onclick="eliminarArchivo(this, '@item')">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        Activo = false;
                    }
                }
            </div>
            <button class="button_boton carousel-control-prev" style="background-color: @Model.estilo;" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="button_boton carousel-control-next" type="button" style="background-color: @Model.estilo;" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
}


        <!-- MODAL INFO PERSONAL -->
        <div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <i id="usuario-header-modal" class="fa-solid fa-user-pen"></i>
                    <div id="seccion1" class="modal-header">
                        
                        <h5 class="modal-title">Información Personal </h5>
                    </div>
                    <div id="seccion1-body" class="modal-body">
                        @using(Html.BeginForm("InsertarInformacionPersonal1","Home",  FormMethod.Post, new {id="form-modal"}))
                        {
                            <div>
                                
                                <h1 class="titulos-modal"> <i id="iconos-modal" class="fa-solid fa-id-card"></i> NOMBRE - APELLIDO </h1>
                                @Html.TextBoxFor(model=>model.nombre_apellido, new {placeholder="Nombre y Apellido"})
                                <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-envelope"></i> EMAIL</h1>
                                @Html.TextBoxFor(model=>model.mail, new {placeholder="Correo electrónico",type="email" })
                                <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-phone"></i> NÚMERO CELULAR</h1>
                                @Html.TextBoxFor(model=>model.telefono, new {placeholder="Teléfono"})
                                <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-palette"></i> ESTILO</h1>
                                <input type="color" id="colorPicker" name="estilo" class="form-control mb-2" value="@Model.estilo" />
                                @Html.HiddenFor(model => model.id, new { placeholder = "Estilo" })
                            </div>
                            <div id="seccion1-footer" class="modal-footer">
                            <button type="submit" style="background-color: @Model.estilo; border-color: @Model.estilo" class="btn btn-primary">Guardar</button>
                            <button type="button" style="background-color: @Model.estilo ; border-color: @Model.estilo" class="btn btn-primary" onclick="mostrarSiguienteSeccion(2)">Siguiente</button>
                            </div>
                        }
            </div>
            <div id="seccion2" class="modal-header" style="display: none;">
                <h5 class="modal-title">Información Personal </h5>
            </div>
            <div id="seccion2-body" class="modal-body" style="display: none;">
                <form action='@Url.Action("InsertarInformacionPersonal2")' method="post" id="form-modal">
                    <div>
                    <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-user-pen"></i> ACERCA DE MI</h1>
                    @Html.TextBoxFor(model=>model.acerca_de_mi, new {placeholder="Acerca De Mi"})
                    <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-briefcase"></i> PROFESION</h1>
                    @Html.TextBoxFor(model=>model.profesion_actual, new {placeholder="Profesion"})
                    <h1 class="titulos-modal"> <i id="iconos-modal" class="fa-solid fa-map-location-dot"></i> UBICACION</h1>
                    @Html.TextBoxFor(model=>model.ubicacion, new {placeholder="Ubicacion"})
                    <h1 class="titulos-modal"><i id="iconos-modal" class="fa-solid fa-circle-user"></i> FOTO DE PERFIL</h1>
                    @Html.TextBoxFor(model=>model.foto_perfil, new {placeholder="URL Foto de Perfil"})
                    @Html.HiddenFor(model=>model.id)
                    </div>
            <div id="seccion2-footer" class="modal-footer" style="display: none;">
                <button type="button" style="background-color: @Model.estilo ; border-color: @Model.estilo" class="btn btn-secondary" onclick="mostrarSiguienteSeccion(1)">Anterior</button>
                <button type="submit" style="background-color: @Model.estilo ;border-color: @Model.estilo" class="btn btn-primary">Guardar</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>


     <!--MODAL EDUCACION -->
   <div class="modal fade" id="ModalEducacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header-educacion">
                <h5 class="modal-title">Educación</h5>
            </div>
            <div class="modal-body" id="modal-educacion">
                
                <form action='@Url.Action("InsertarEducacion")' method="post" id="ModalEducacionForm" >
                
                <input type="hidden" name="id" id="id" value="">
                <input type="hidden" name="id_info_empleado" id="id_info_empleado" value="@Model.id">

                    <h1 class="titulos-modal">
                        <i id="iconos-modal" class="fa-solid fa-id-card"></i> NOMBRE
                    </h1>
                    <input type="text" name="titulo" placeholder="NOMBRE" id="NOMBRE">
                    <button id="ingreso">ups</button>
                    <h1 class="titulos-modal">
                        <i id="iconos-modal" class="fa-solid fa-school"></i> INSTITUCIÓN EDUCATIVA
                    </h1>
                    <input type="text" name="nombre_institucion" placeholder="INSTITUCIÓN EDUCATIVA">
                    <div class="modal-separador-educacion">
                        <h5 class="modal-title-separador">++ INFORMACIÓN</h5>
                    </div>

                    <!-- FECHAS -->
                    <div class="fecha-contenedor" id=>
                        <div class="fecha-header">
                            <h3>FECHAS</h3>
                        </div>
                        <div class="fecha-campo">
                            <div class="fecha-titulo">
                                <i class="fa fa-calendar"></i> 
                                <label for="fecha-inicio">FECHA DE INICIO</label>
                            </div>
                            <div class="fecha-selectores">
                                <select id="mes-inicio" name="mes_expedicion">
                                    <option value="">MES</option>
                                </select>
                                <select id="ano-inicio" name="fecha_expedicion" placeholder="Año de inicio">
                                    <option value="">AÑO</option>
                                </select>
                            </div>
                        </div>

                        <div class="fecha-campo">
                            <div class="fecha-titulo">
                                <i class="fa fa-calendar"></i>
                                <label for="fecha-fin">FECHA DE FINALIZACIÓN</label>
                            </div>
                            <div class="fecha-selectores">
                                <select id="mes-fin" name="mes_caducidad" placeholder="Mes de finalizacion">
                                    <option value="">MES</option>
                                </select>
                                <select id="ano-fin" name="fecha_caducidad" placeholder="Año de finalizacion">
                                    <option value="">AÑO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- DETALLES -->
                    <div class="fecha-contenedor">
                        <div class="fecha-header">
                            <h3>DETALLES</h3>
                        </div>
                        <div class="fecha-campo">
                            <div class="fecha-titulo">
                                <i class="fa-solid fa-user-graduate"></i> 
                                <label for="disciplina-academica">DISCIPLINA ACADÉMICA</label>
                            </div>
                            <div class="fecha-selectores">
                                <input id="disciplina-academica" type="text" name="disciplina_academica">
                            </div>
                        </div>

                        <div class="fecha-campo">
                            <div class="fecha-titulo">
                                <i class="fa-solid fa-users"></i>
                                <label for="actividades_grupo">ACTIVIDADES DE GRUPO</label>
                            </div>
                            <div class="fecha-selectores">
                                <input id="actividades-grupo" type="text" name="actividades_grupo">
                            </div>
                        </div>
                    </div>

                    <h1 class="titulos-modal">
                        <i id="iconos-modal" class="fa-solid fa-pen-nib"></i> DESCRIPCIÓN
                    </h1>
                    <input type="text" name="Descripcion">

                    <input type="hidden" name="id_info_empleado" value="@Model.id" />
                    <div class="modal-footer">
                        <button type="submit" style="background-color: @Model.estilo; border-color: @Model.estilo" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ADAPTACION -->
   <div class="modal fade" id="ModalAdaptacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header-educacion">
                <h5 class="modal-title">Necesidades De Adaptación</h5>
            </div>
            <div class="modal-body" id="modal-adaptacion">
                <form action='@Url.Action("InsertarAdaptacion")' method="post" id="ModalAdaptacionForm">
                    <input type="hidden" name="id" id="id" value="">
                    <input type="hidden" name="id_info_empleado" id="id_info_empleado" value="@Model.id">
                    <h1 class="titulos-modal">
                        <i id="iconos-modal" class="fa-solid fa-pen-nib"></i> ESCRIBÍ UN PÁRRAFO ENUMERANDO TUS NECESIDADES DE ADAPTACION
                    </h1>
                    <input type="text" name="nombre" id="nombre" oninput="mostrarSugerencias()" placeholder="TUS NECESIDADES">
                    <div id="sugerencias-container"></div>
                    <div class="modal-footer-adaptacion">
                        <button type="submit" style="background-color: @Model.estilo; border-color: @Model.estilo" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- FUNCIONES JAVA LOCALES -->
    @{
        var modelId = Model.id;
    }
    <script>
    function handleFiles(files) {
    console.log('handleFiles function called');
    const fileList = document.getElementById('fileList');
    var modelId = '@modelId';

    for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const formData = new FormData();
        formData.append('file', file);
        formData.append('Id_Empleado', modelId);

        // Enviar el archivo al servidor
        $.ajax({
            url: '/Home/UploadFile',
            method: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                console.log('Archivo subido correctamente');
                console.log(response);
                
                // Actualiza el carrusel con la nueva imagen o video
                let text = "";
                for (let i = 0; i < response.data.length; i++) {
                    if (response.data[i].endsWith('.mp4')) {
                        text += "<div class='carousel-item " + (i == 0 ? "active" : "") + "'><div class='row'><div class='col-md-12'><div class='carousel-content'><video controls class='d-block w-100'><source src='" + response.data[i] + "' type='video/mp4'></video><a href='" + response.data[i] + "' download class='btn btn-primary'>Descargar</a></div></div></div>";
                    } else if (response.data[i].endsWith('.jpg') || response.data[i].endsWith('.jpeg') || response.data[i].endsWith('.png')) {
                        text += "<div class='carousel-item " + (i == 0 ? "active" : "") + "'><div class='row'><div class='col-md-12'><div class='carousel-content'><img src='" + response.data[i] + "' class='d-block w-100'><a href='" + response.data[i] + "' download class='btn btn-primary'>Descargar</a></div></div></div>";
                    } else {
                        text += "<div class='carousel-item " + (i == 0 ? "active" : "") + "'><div class='row'><div class='col-md-12'><div class='carousel-content'><div class='file-placeholder'><a href='" + response.data[i] + "' download class='btn btn-primary'>Descargar archivo</a></div></div></div></div>";
                    }
                }
                $("#carousel-inner").html(text);
            },
            error: function(xhr, status, error) {
                console.error('Error al subir el archivo:', status, error);
                console.log(xhr.responseText);
            }
        });
    }
}


$('#ModalEducacionForm').submit(function(e) {
    e.preventDefault(); 
    console.log($(this).serialize()); 
    
    var id = $('input[name="id"]').val();
    var idInfoEmpleado = '@Model.id'; // Asigna el valor manualmente
    $('input[name="id_info_empleado"]').val(idInfoEmpleado);
    console.log("ID Info Empleado: ", idInfoEmpleado);

    $.ajax({
        type: 'POST',
        url: '/Home/InsertarEducacion/' + id, 
        data: $(this).serialize(),
        success: function(response) {
            console.log("Respuesta recibida: ", response);
            var nuevaListaEducacion = $(response).find('#listaEducacionContainer').html();
            if (nuevaListaEducacion) {
                $('#listaEducacionContainer').html(nuevaListaEducacion); 
                $('#ModalEducacion').modal('hide'); 
                console.log("Modal cerrado y lista actualizada.");
            } else {
                console.log("No se encontró la lista de educación en la respuesta.");
            }
        },
        error: function(error) {
            console.log("Error: ", error);
        }
    });
});
$('#ModalAdaptacionForm').submit(function(e) {
    e.preventDefault(); 
    console.log($(this).serialize()); 
    
    var id = $('input[name="id"]').val();
    var idInfoEmpleado = '@Model.id'; // Asigna el valor manualmente
    $('input[name="id_info_empleado"]').val(idInfoEmpleado);
    console.log("ID Info Empleado: ", idInfoEmpleado);

    $.ajax({
        type: 'POST',
        url: '/Home/InsertarAdaptacion/' + id, 
        data: $(this).serialize(),
        success: function(response) {
            console.log("Respuesta recibida: ", response);
            var nuevaListaEducacion = $(response).find('#AdaptacionContainer').html();
            if (nuevaListaEducacion) {
                $('#AdaptacionContainer').html(nuevaListaEducacion); 
                $('#ModalAdaptacion').modal('hide'); 
                console.log("Modal cerrado y lista actualizada.");
            } else {
                console.log("No se encontró la lista de educación en la respuesta.");
            }
        },
        error: function(error) {
            console.log("Error: ", error);
        }
    });
});

const sugerencias = [
    "Acceso a rampas",
    "Material en braille",
    "Intérprete de lenguaje de señas",
    "Software de lectura de pantalla",
    "Asistencia personal",
    "Rampa",
    "Baño adaptado a sillas de ruedas"
];

function mostrarSugerencias() {
    const input = document.getElementById('nombre');
    const sugerenciasContainer = document.getElementById('sugerencias-container');
    sugerenciasContainer.innerHTML = '';
    
    const valor = input.value.toLowerCase();
    if (valor) {
        const sugerenciasFiltradas = sugerencias.filter(sugerencia => 
            sugerencia.toLowerCase().includes(valor)
        );
        
        sugerenciasFiltradas.forEach(sugerencia => {
            const div = document.createElement('div');
            div.classList.add('sugerencia');
            div.textContent = sugerencia;
            div.onclick = () => {
                input.value = sugerencia;
                sugerenciasContainer.innerHTML = '';
            };
            sugerenciasContainer.appendChild(div);
        });
    }
}

function eliminarArchivo(button, itemUrl) {
    // Encuentra el elemento del carrusel que contiene el botón
    const carouselItem = button.closest('.carousel-item');
    
    // Elimina el elemento del carrusel
    carouselItem.remove();
    
    // Opcional: Realiza una llamada AJAX para eliminar el archivo del servidor si es necesario
    // $.ajax({
    //     url: '/ruta/para/eliminar/archivo',
    //     type: 'POST',
    //     data: { url: itemUrl },
    //     success: function(response) {
    //         console.log('Archivo eliminado del servidor');
    //     },
    //     error: function(error) {
    //         console.error('Error al eliminar el archivo del servidor', error);
    //     }
    // });
}


//api nativa web speech, text-to-speech y viceversa
function text_to_speech(text) {
    const speech = new SpeechSynthesisUtterance(text);
    speech.lang = 'es-ES'; 
    window.speechSynthesis.speak(speech);
}
function setupAdaptacionListeners() {
    const modalAdaptacion = document.getElementById('ModalAdaptacion');

    $(modalAdaptacion).on('shown.bs.modal', function () {
        text_to_speech('Adaptación');

        document.querySelectorAll('#modal-adaptacion input').forEach(input => {
            input.removeEventListener('focus', handleInputFocus);
            input.addEventListener('focus', handleInputFocus);
        });
        document.querySelectorAll('#modal-adaptacion select').forEach(input => {
            select.removeEventListener('focus', handlesFechasFocus);
            select.addEventListener('focus', handlesFechasFocus);
        });
    });
}
function setupEducacionListeners() {
    const modalEducacion = document.getElementById('ModalEducacion');

    $(modalEducacion).on('shown.bs.modal', function () {
        text_to_speech('Educación');

        document.querySelectorAll('#ModalEducacionForm input').forEach(input => {
            input.removeEventListener('focus', handleInputFocus);
            input.addEventListener('focus', handleInputFocus);
        });
         document.querySelectorAll('#modal-educacion select').forEach(input => {
            select.removeEventListener('focus', handlesFechasFocus);
            select.addEventListener('focus', handlesFechasFocus);
        });
    });
}

//GENERAL HANDLES, con los forms hechos se puede repetir, al ser todo igual. 
function handleInputFocus(event) {   // ------>  inputs
    const input = event.target;
    const placeholder = input.getAttribute('id');
    const message = `Ingresa. ${placeholder}. Si desea hablar, toque el micrófono`;
    text_to_speech(message);
}
function handlesFechasFocus(event) {    //  ----> el form de fechas (id, x el nombre)
    const select = event.target;
    const placeholder = input.getAttribute('id');
    const message = `Ingresa. ${placeholder}`;
    text_to_speech(message);
}

//Speech to text
function writeText() {
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    const recognition = new SpeechRecognition();
    recognition.lang = 'es-ES';
    recognition.interimResults = false;
    recognition.maxAlternatives = 1;
}
function handleSpeechResultados(transcript){
    const input = document.getElementById('NOMBRE');
    input.value = transcript; // le asigna el valor al input, creo
}
function reconocimientoDeVoz(recognition){
    recognition.start();
}
function setupRecognitionEvents(recognition){
    recognition.addEventListener('result', function(event{
        const transcript_resultado = event.results[0][0].transcript;
        handleSpeechResultados(transcript_resultado);
    }))
}
function actionButton(recognition){
    const startButton = document.getElementById('ingreso');
        startButton.addEventListener('click', function(){
            reconocimientoDeVoz(recognition);
    });
    recognition.addEventListener('end', function(){
        recognition.stop();
    })
}
function inicializarReconocimiento(){
    const recognition = writeText();
    actionButton(recognition);
    setupRecognitionEvents(recognition);
}

document.addEventListener('DOMContentLoaded', function() {
    setupAdaptacionListeners();
    setupEducacionListeners();
    inicializarReconocimiento();
}));
  
</script>

<style>
/*profesion */
.profesion-container {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
    color:black;
}

.profesion-icon {
    font-size: 20px; 
    margin-right: 8px; 
    color: @Model.estilo; 
}

.profesion {
    margin: 0; 
    color: rgb(59, 59, 59) !important;
    font-family: 'Sura', sans-serif;
}
.rectangulo-encabezado {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
  background-color: var(--user-selected-color); /* Color elegido por el usuario */
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 10px,
    transparent 10px,
    transparent 20px
  );
}


</style>

<!--HOLIIS-->